<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<style type="text/css">
	
	.contact-form{
		padding: 2%;
		margin-top: 20px;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.customHeader{
		text-align: center;
		font-size: 20px;
	}	
</style>

<!------ Include the above in your HEAD tag ---------->
<div class="pb-2 mt-4 mb-2 border-bottom customHeader">
    <h3> Feedback Form Seminar </h3>
</div>

<div class="container contact-form">
	<form action="/feedback" method="POST">
		Name
		<div>
			<input type="text" name="name" />
		</div>
		Email
		<div>
			<input type="text" name="email" />
		</div>
		Phone
		<div>
			<input type="text" name="phone">
		</div>
		Feedback
		<div>
			<textarea name="feedback"></textarea>
		</div>
		<input type="submit" value="Submit">
	</form>
</div>
